<div>
    <h1>Programmatically create Azure AD Application</h1>
    <div>
        <select ng-model="tenant" ng-options="tenant.Tenant for tenant in tenants" ng-change="tenantChange()"></select>
    </div>
    <div>
        <select ng-options="subscription.displayName for subscription in subscriptions" ng-model="subscriptionId" ng-change="subChange()"></select>
    </div>
    <div>
        <h2>Applications</h2>
        <table>
            <tr ng-repeat="application in applications">
                <td>{{application.displayName}}</td>
                <td>{{application.homepage}}</td>
                <td>
                    <ul>
                        <li ng-repeat="uri in application.identifierUris">{{uri}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Create new application</h2>
        <form ng-submit="createApplication()">
            <div>
                <label>Display Name</label><input ng-model="app.displayName" ng-required="true" />
            </div>
            <div>
                <label>Homepage</label><input type="url" ng-model="app.homePage" ng-required="true" />
            </div>
            <div>
                <label>Identifier Uris</label>
                <div ng-repeat="uri in app.identifierUris">
                    <input type="url" ng-model="app.identifierUris[$index]" ng-required="true"/>
                </div>
                <button ng-click="addIdentifierUri()">+</button>
            </div>
            <div>
                <label>Password</label><input ng-model="app.password" ng-required="true"/>
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</div>